<h2 style="text-align:center;">About this site</h2>
<p style="text-align:center;">This is a site where users can create tasklists and add tasks to them. They can choose whether to check tasks as completed or still pending.</p>