<div class="form">	
	<%= form_for([@list, @list.tasks.build]) do |t| %>

		<strong><p>Task:</p></strong>
		<p><%= t.text_field :task %></p>
		<strong><p>Due Date:</p></strong>
		<p><%= t.text_field :due_date %></p>
		<p><%= t.submit 'Save' %></p>

	<% end %>
<div>	



