<%= form_for([@list, @list.tasks.build]) do |t| %>

	<p>Task:</p>
	<p><%= t.text_field :task %></p>
	<p>Due Date:</p>
	<p><%= t.text_field :due_date %></p>
	<p><%= t.submit 'Save' %></p>

<% end %>



